/* arrow back */

.b-arrowBack {
  width: 85px;
  height: 70px;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  background: url('./assets/scss/images/icons.png') 19px 24px no-repeat;
  text-indent: -1000px;
  text-decoration: none;
  cursor: pointer;
}



