/* availibility */

.b-availibility {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.-type {

    &_bikes {}
    &_places {}
  }

  &__image {
    width: 45px;
    height: 45px;
    margin: 0 0 11px;
    background: url('./assets/scss/images/icons.png') 0 0 no-repeat;
    
    .-type_bikes & {
      background-position: -7px -36px;
    }

    .-type_places & {
      background-position: -3px -93px;
    }
  }

  &__title {
    color: $color-2;
    font-size: 23px;
    font-weight: 600;
  }

  &__numbers {
    font-size: 98px;
    font-weight: 700;
    line-height: 1;
    color: $color-4;

    .-type_places & {
      color: $color-3;
    }
  }
}