/* station */

.l-station {
  border-radius: 15px;
  background: $bg-station;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;

  &.-type_details {
    background: transparent;
    box-shadow: none;
    cursor: auto;
  }
}

.b-station {
  padding: 36px 38px;

  .-type_details & {
    padding: 40px 47px;
  }
  
  &__title {
    font-size: 43px;
    font-weight: bold;
  }

  &__places {
    display: flex;
    margin: 0 0 38px;

    .-type_details & {
      margin-bottom: 47px;
    }

    &Item {
      font-size: 25px;
      font-weight: bold;

      &.-type {

        &_distance {}
        &_address {
          position: relative;
          padding-left: 27px;
          color: $color-2;

          &:before {
            position: absolute;
            left: 10px;
            top: 14px;
            width: 6px;
            height: 6px;;
            border-radius: 50%;
            background: $color-2;
            content: '';
          }
        }
      }
    }
  }

  &__availibility {
    display: flex;
    justify-content: center;
    
    &Item {

      &.-type {

        &_bikes {
          margin: 0 155px 0 0;
        }
        &_places {}
      }
    }
  }
}