<div class="l-stationList">
  <ul class="b-stationsList">

    <li  class="b-stationsList__item" *ngFor="let station of stationsList$ | async">

      <app-station [station]="station"></app-station>
      
    </li>

  </ul>
</div>
