@import 'assets/scss/reset';
@import 'assets/scss/variables';
@import 'assets/scss/global';

/* body and html styles */
.l-body, .l-html {
  min-height: 100vh;
  background: $bg-main;
  color: $color-1;
  font: 14px/1.3 Arial, sans-serif;
} 

/* blocks */
@import 'assets/scss/blocks/arrowBack';
@import 'assets/scss/blocks/header';
@import 'assets/scss/blocks/content';
@import 'assets/scss/blocks/stationsList';
@import 'assets/scss/blocks/stationDetails';
@import 'assets/scss/blocks/station';
@import 'assets/scss/blocks/availibility';
@import 'assets/scss/blocks/map';