<div class="b-availibility"  [ngClass]="{'-type_bikes': type==='bikes', '-type_places': type==='places' }">
  <div class="b-availibility__image"></div>
  <h4 class="b-availibility__title">{{title}}</h4>
  <div class="b-availibility__numbers">{{numbers}}</div>
</div>
